*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
dnet
dnet.gaps
dnet.gaps*
darknet
darknet-gaps
darknet-gaps*
doclean
docmpl
doclr
cmpl
clr
rundemo
rundemo.longgun
rundemo.longgun.hroma
.fuse*
NOTES.txt

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
